.custom-select {
  position: relative;
  width: 85px;
  font-family: Arial, sans-serif;
}

.custom-select-jp {
  position: relative;
  width: 95px;
  font-family: Arial, sans-serif;
}

.selected-option {
  padding: 10px;
  border: 1px solid #888;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-option span{
  color: #aaa;
}

.options-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #ccc;
  color: #000000;
  background-color: #fff;
  max-height: 310px;
  overflow-y: auto;
  z-index: 2;
}

.option {
  padding: 8px 10px;
  cursor: pointer;
  /* border-bottom: 1px solid #a3a3a3; */
}

.option:hover {
  background-color: #3399FF;
  color: #ffffff;
}

.options-list.active {
  display: block;
}

.dropdown__menu-button-icon{
  color: #000000 !important;
  margin-left: 5px;
}